.cartModal
{
    padding-top: 40px;
}
.cartModal .grid
{       
    display:  grid;
    color: black;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 26px;
    align-items: center;
    margin-bottom: 10px;
}
.cartModal .empty
{ color: black; }
