.card {
  min-width: 130px;
  max-width: 230px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .card {
    max-width: unset;
  }
}
.card .content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 10px;
  width: 100%;
}
.card .top {
  position: absolute;
  top: 0px;
  right: 0px;
}

.card .content .add {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 36px;
}

.card .top.favorite {
  top: 46px;
}

.card .top.discount {
  border-radius: 6px;
  color: var(--warning-300);
  background: var(--warning-800);
  margin-top: 10px;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: 900;
  line-height: 22px;
}

.card .imageContainer {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 175px;
  margin-bottom: 8px;
}

.card .iconContainer {
  width: 100px;
  height: 100px;
}

.card .rateContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.card .rateContainer.hidden {
  visibility: hidden;
}

.card .rateContainer .star {
  color: var(--warning-700);
  fill: var(--warning-800);
}

.card .rateContainer .rate {
  color:  var(--primary-400);
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
}

.card .caption {
  color: var(--primary-400); 
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  overflow: hidden;
  text-decoration: none;
}

.card .priceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.card .priceContainer .price {
  color: var(--primary-500);
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
}

.card .priceContainer .unit {
  color: var(--primary-700);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.card .priceContainer .oldPrice {
  color: var(--primary-900);
  font-size: 12px;
  font-weight: bold;
  line-height: 16px;
  margin-left: 4px;
  text-decoration: line-through;
}

.card .priceContainer .oldUnit {
  color: var(--primary-700);
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-decoration: line-through;
}

.card .weight {
  color: var(--primary-900);
  font-size: 10px;
  font-weight: bold;
  line-height: 14px;
}

.card .brand {
  color: var(--primary-600);
  font-weight: bold;
  line-height: 16px;
}
