.main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  font-family: var(--font-mono);
  margin: 20px 0px;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.main .sampleTooltip {
  background-color: rgb(89, 89, 89) !important;
}
